.box {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 16px;

        &_arrow {
            position: relative;
        }

        &_instructions {
            align-items: center;
        }

        &_emissions {
            align-items: center;
        }

        &_arrow:before {
            display: block;
            content: '';
            position: absolute;
            top: 130px;
            left: -200px;
            width: 453px;
            height: 453px;
            background-image: url(../img/sprite.svg#arrow1);
            background-repeat: no-repeat;
        }

        &_arrow::after {
            display: block;
            content: '';
            position: absolute;
            top: -220px;
            right: -220px;
            width: 490px;
            height: 490px;
            background-image: url(../img/sprite.svg#arrow2);
            background-repeat: no-repeat;
        }

        &_questions,
        &_form {
            transform: translateZ(0);
            border-top: 1px solid var(--text);
        }

        &_values {
            gap: 0;
        }

        &_practice {
            align-items: center;
        }

        &_practice:nth-child(2),
        &_practice:nth-child(4) {
            position: relative;
        }

        &_practice:nth-child(2):before {
            display: block;
            content: '';
            position: absolute;
            top: 70px;
            left: -160px;
            width: 253px;
            height: 253px;
            background-image: url(../img/sprite.svg#arrow1);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &_practice:nth-child(2):after {
            display: block;
            content: '';
            position: absolute;
            top: -170px;
            right: 30px;
            width: 277px;
            height: 289px;
            background-image: url(../img/sprite.svg#arrow2);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &_practice:nth-child(4):after {
            display: block;
            content: '';
            position: absolute;
            top: -170px;
            right: 0;
            width: 277px;
            height: 289px;
            background-image: url(../img/sprite.svg#arrow2);
            background-repeat: no-repeat;
            background-size: cover;
        }

        &_ingredients {
            background-color: var(--table);
            padding: 32px 16px;
        }

        &_steps {
            gap: 5px;
        }

        &_comments {
            display: grid;
            grid-template-columns: 96px 1fr;
            grid-template-rows: repeat(2, min-content);
            gap: 0;
            border-bottom: 1px solid var(--text);
            padding-bottom: 16px;
        }
    }

    &__img {
        width: 145px;
        height: 156px;
    }

    &__picture {
        width: 100%;
        height: 100%;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__mind {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 12px;
        min-height: 233px;
        padding-left: 16px;
        background-color: var(--brown);
        color: var(--us-text-white);

        &_green {
            background-color: var(--green);
        }

        &_green .text_mind {
            color: var(--text);
        }

        &_green .title_h3-mind {
            color: var(--text);
        }
    }

    &_questions {
        gap: 0;
    }

    &_steps {
        gap: 50px;
    }
}

@media (min-width: $tv) {
    .box {
        gap: 50px;

        &_questions {
            grid-column: 1/3;
            grid-row: 2/3;
            gap: 0;
        }

        &__item {
            &_inst {
                gap: 24px;
            }

            &_recepies {
                gap: 20px;
            }

            &_arrow::before {
                display: block;
                content: '';
                position: absolute;
                top: 160px;
                left: -260px;
                width: 700px;
                height: 700px;
                background-image: url(../img/sprite.svg#arrow1);
            }

            &_arrow::after {
                display: block;
                content: '';
                position: absolute;
                top: -310px;
                right: -260px;
                width: 700px;
                height: 700px;
                background-image: url(../img/sprite.svg#arrow2);
            }

            &_practice:nth-child(2),
            &_practice:nth-child(4) {
                position: relative;
            }

            &_practice:nth-child(2):before {
                display: block;
                content: '';
                position: absolute;
                top: 110px;
                left: -230px;
                width: 400px;
                height: 400px;
                background-image: url(../img/sprite.svg#arrow1);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &_practice:nth-child(2):after {
                display: block;
                content: '';
                position: absolute;
                top: -170px;
                right: 30px;
                width: 400px;
                height: 400px;
                background-image: url(../img/sprite.svg#arrow2);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &_practice:nth-child(4):after {
                display: block;
                content: '';
                position: absolute;
                top: -170px;
                right: 0;
                width: 400px;
                height: 400px;
                background-image: url(../img/sprite.svg#arrow2);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &_ingredients {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 100px repeat(3, min-content);
            }

            &_feck {
                gap: 24px;
            }
        }

        &__img {
            width: 219px;
            height: 232px;
        }

        &__mind {
            gap: 24px;
            padding-left: 24px;
        }
    }
}

@media (min-width: $pv) {
    .box {
        flex-direction: initial;

        &_recepies {
            flex-direction: column;
        }

        &_emissions {
            gap: 0;
            justify-content: space-between;
        }

        &_questions {
            flex-direction: column;
        }

        &_values {
            flex-direction: column;
        }

        &_authors {
            justify-content: space-between;
        }

        &_intro {
            flex-direction: column-reverse;
            align-items: center;
        }

        &_ingredients {
            display: flex;
            justify-content: space-between;
        }

        &_steps {
            flex-direction: column;
            gap: 0;
        }

        &_comments {
            flex-direction: column;
        }

        &__item {
            flex-basis: 30%;

            &_arrow::before {
                display: block;
                content: '';
                position: absolute;
                top: 10px;
                left: -170px;
                width: 230px;
                height: 120px;
                background-image: url(../img/sprite.svg#arrow3);
            }

            &_arrow::after {
                display: block;
                content: '';
                position: absolute;
                top: 0px;
                right: -160px;
                width: 200px;
                height: 200px;
                background-image: url(../img/sprite.svg#arrow4);
            }

            &_recepies {
                flex-direction: row;
            }

            &_recepies picture {
                flex-basis: 50%;
            }

            &_values {
                flex-direction: row;
                align-items: inherit;
            }

            &_values picture {
                flex-basis: 50%;
            }

            &_values:nth-child(even) {
                flex-direction: row-reverse;
            }

            &_authors {
                flex-basis: 45%;
            }

            &_practice:nth-child(2),
            &_practice:nth-child(4) {
                position: relative;
            }

            &_practice:nth-child(2):before {
                display: block;
                content: '';
                position: absolute;
                top: 50px;
                left: -90px;
                width: 142px;
                height: 80px;
                background-image: url(../img/sprite.svg#arrow3);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &_practice:nth-child(2):after {
                display: block;
                content: '';
                position: absolute;
                top: 30px;
                right: -120px;
                width: 142px;
                height: 80px;
                background-image: url(../img/sprite.svg#arrow4);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &_practice:nth-child(4):after {
                display: block;
                content: '';
                position: absolute;
                top: 50px;
                left: -90px;
                width: 142px;
                height: 80px;
                background-image: url(../img/sprite.svg#arrow3);
                background-repeat: no-repeat;
                background-size: cover;
            }

            &_questions {
                flex-direction: row;
            }

            &_ingredients {
                flex-basis: 45%;
            }

            &_feck {
                flex-basis: 45%;
                gap: 40px;
            }

            &_search {
                width: 100%;
            }

            &_steps {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 70px min-content;
                grid-column-gap: 80px;
                border-top: 1px solid var(--text);
                padding-top: 1em;
                padding-bottom: 1em;
            }

            &_steps:nth-last-child(-n + 1) {
                border-bottom: 1px solid var(--text);
            }
        }

        &__img {
            width: 200px;
            height: 212px;
        }

        &__info {
            flex-basis: 45%;
            gap: 32px;
        }

        &__mind {
            flex-basis: 50%;
            padding: 88px;
        }

        &__picture {
            &_wrapper {
                grid-column: 1/2;
                grid-row: 1/3;
            }
        }
    }
}
