.button {
    font-family: 'DMSans-Bold', sans-serif;
    display: inline-block;
    font-size: 88%;
    line-height: 26px;
    font-weight: 700;
    border: none;
    border-radius: 31px;
    padding: 1em 2em 1em 5em;
    position: relative;

    &_menu {
        display: block;
        width: 45px;
        height: 45px;
        border: none;
        background-color: transparent;
    }

    &_music {
        background-color: var(--brown);
        color: var(--white);
    }

    &_music:before {
        display: block;
        content: '';
        position: absolute;
        width: 64px;
        height: 48px;
        top: 4px;
        left: 0;
        background-image: url(../img/sprite.svg#music);
        background-size: cover;
        background-repeat: no-repeat;
    }
    &_ingredients {
        background-color: var(--white);
        color: var(--text);
    }

    &_ingredients:before {
        display: block;
        content: '';
        position: absolute;
        width: 64px;
        height: 48px;
        top: 4px;
        left: 0;
        background-image: url(../img/sprite.svg#cart);
        background-size: cover;
        background-repeat: no-repeat;
    }

    &_feck {
        background-color: var(--sea);
        color: var(--brown);
    }

    &_feck:before {
        display: block;
        content: '';
        position: absolute;
        width: 64px;
        height: 48px;
        top: 4px;
        left: 0;
        background-image: url(../img/sprite.svg#share);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media (min-width: $tv) {
    .button {
        font-size: 125%;
        &_ingredients {
            grid-column: 2/4;
            grid-row: 4/5;
            justify-self: end;
        }

        &_music:before,
        &_ingredients:before,
        &_feck {
            top: 12px;
            left: 12px;
        }

        &_feck {
            align-self: flex-start;
        }
    }
}

@media (min-width: $pv) {
    .button {
        &_music {
            align-self: flex-end;
        }
    }
}
