.button {
    font-family: 'DMSans-Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 82%;
    line-height: 26px;
    font-weight: 700;
    border: none;
    border-radius: 31px;
    padding: 1em 2em;

    &_menu {
        display: block;
        width: 45px;
        height: 45px;
        border: none;
        background-color: transparent;
    }

    &_music {
        background-color: var(--brown);
        color: var(--white);
    }

    &_ingredients {
        background-color: var(--white);
        color: var(--text);
        align-self: center;
    }

    &_feck {
        background-color: var(--sea);
        color: var(--brown);
        align-self: center;
    }
}

@media (min-width: $tv) {
    .button {
        &_ingredients {
            grid-column: 2/4;
            grid-row: 4/5;
            justify-self: end;
        }

        &_music:before,
        &_ingredients:before,
        &_feck {
            top: 12px;
            left: 12px;
        }

        &_feck {
            align-self: flex-start;
        }
    }
}

@media (min-width: $pv) {
    .button {
        &_music {
            align-self: flex-end;
        }
    }
}
