.container {
    width: $mc;
    margin: 0 auto;

    &_header,
    &_main,
    &_footer {
        width: $mc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 80px;
        margin-bottom: 3em;
    }

    &_footer {
        gap: 2em;
    }

}

@media (min-width: $tc) {
    .container {
        width: $tc;

        &_footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

@media (min-width: $pc) {
    .container {
        width: 1326px;

        &_main {
            margin-bottom: 9em;
        }

        &_footer {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }
    }
}
