.container {
    width: $mc;
    margin: 0 auto;

    &_header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 75px repeat(3, min-content);
        align-items: center;
        justify-items: center;
        padding-top: 25px;
        grid-row-gap: 20px;
    }

    &_main,
    &_footer {
        width: $mc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        gap: 80px;
        margin-bottom: 3em;
    }

    &_footer {
        gap: 2em;
    }

}

@media (min-width: $tv) {
    .container {
        width: $tc;

        &_footer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

@media (min-width: $pv) {
    .container {
        width: $pc;

        &_main {
            margin-bottom: 9em;
        }

        &_footer {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }
    }
}
