.dishes {
	background-color: var(--dishes);
	&__atention {
		border-top: 1px solid var(--dishes-counter);
		//border-bottom: 1px solid var(--dishes-counter);
		font-size: 87.5%;
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
	}
}