.form {
    &__wrapper {
        margin-top: 30px;
    }

    &__input-text {
        width: 100%;
        border: 1px solid var(--text);
        padding: 16px;
        border-radius: 35px;
        color: var(--search);
    }
}

@media (min-width: $tv) {
    .form {
        &__input-text {
            padding: 24px;
            font-size: 150%;
        }
    }
}

@media (min-width: $pv) {
    .form {
        &__wrapper {
            margin-top: 0;
        }

        &__input-text {
            padding: 16px;
        }
    }
}
