.icon {
    fill: var(--text);

    &_menu {
        width: 45px;
        height: 45px;
        stroke: var(--black);
    }

    &_burger,
    .button_nav-open &_cross {
        display: block;
    }

    &_cross,
    .button_nav-open &_burger {
        display: none;
    }

    &_arrow-menu {
        width: 30px;
        height: 30px;
    }

    &_dot {
        width: 5px;
        height: 5px;
        fill: var(--text);
    }

    &_feedback {
        width: 20px;
        height: 20px;
    }

    &_share {
        width: inherit;
        height: inherit;
    }
}

@media (min-width: 768px) {
    .icon {
        &_kcal {
            width: 24px;
            height: 24px;
            stroke: var(--text);
        }
    }
}
