.instructions {
	position: relative;
}
.instructions::before {
	display: block;
	content: '';
	width: 88px;
	height: 253px;
	background-image: url(../img/arrow2-mobile.png);
	position: absolute;
	top: 470px;
	left: 0;
}
.instructions::after {
	display: block;
	content: '';
	width: 47px;
	height: 289px;
	background-image: url(../img/arrow1-mobile.png);
	position: absolute;
	top: 150px;
	right: 0;
}