.link {
    font-family: 'RobotoCondenced-Bold', sans-serif;
    text-decoration: none;
    display: block;
    color: var(--text);
    text-align: center;

    &_logo {
        font-size: 1.45rem;
        line-height: 2rem;
        letter-spacing: calc((1rem*1)/100);
    }

    &_menu,
    &_no-menu {
        display: inline-block;
        line-height: 4rem;
        text-align: left;
        padding-left: 1rem;
    }

    &_gen,
    &_article,
    &_print,
    &_shoping {
        font-size: 0.8rem;
        letter-spacing: calc((1rem*3)/100);
        padding: 10px 22px;
        border: 1px solid var(--border);
        border-radius: 20px;
    }

    &_article {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    &_alpha {
        line-height: 4rem;
        text-align: left;
        padding-left: 1rem;
    }

    &_new {
        display: flex;
        column-gap: 25px;
    }

    &_share {
        width: 24px;
        height: 24px;
    }
}

@media (min-width: 768px) {
    .link {
        &_menu {
            padding: 0;
        }

        &_gen {
            grid-column: 2/3;
            grid-row: 2/3;
            text-align: center;
        }

        &_main {
            line-height: 500%;
        }

        &_logo {
            font-size: 3rem;
            line-height: 5rem;
            letter-spacing: calc((1rem*10)/100);
        }
    }
}
