.link {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 700;
    line-height: 1.125;
    color: var(--text);
    text-decoration: none;
    font-size: 125%;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_menu {
        display: block;
        width: 100%;
        line-height: 3;
        font-size: 100%;
        font-weight: 400;
    }

    &_menu:hover {
        color: var(--brown);
    }

    &_questions {
        width: auto;
        justify-self: end;
    }

    &_comments {
        align-self: flex-end;
    }

    &_footer {
        display: block;
        width: 100%;
        line-height: 1.4;
        font-weight: 400;
        margin-bottom: 1.14em;
    }
}

@media (min-width: $tv) {
    .link {

        &_comments {
            align-self: flex-end;
        }

        &_questions {
            align-self: center;
        }

        &_footer {
            font-size: 125%;
        }
    }
}

@media (min-width: $pv) {
    .link {
        align-items: flex-start;

        &_menu {
            text-align: end;
            width: 100%;
        }

        &_questions {
            width: 210px;
            font-size: 125%;
        }
    }
}
