.list {
    &_header {
        display: none;
    }

    &_header--open {
        display: block;
        padding-left: 22px;
    }

    &_footer {
        display: block;
        margin-top: 1.42em;
    }
}
