.nav {
	&_header {
		display: none;
	}
	&_header--open {
		display: block;
		position: absolute;
		top: 120px;
		left: 0;
		right: 0;
		background-color: var(--green-header);
		min-height: 100vw;
	}
}