.promo {
    background-color: var(--green-header);
    min-height: 520px;
    background-image: url(../img/pan-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-top: 20px;
    margin-bottom: 40px;
}

@media (min-width: $tv) {
    .promo {
        background-image: url(../img/pan-tablet@1x.png);
        min-height: 800px;
    }
}

@media (min-width: $pv) {
    .promo {
        background-position: top 0 right 15%;
        min-height: 500px;
    }
}
