.recepies {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__picture {
        object-fit: cover;
    }
}

@media (min-width: $tv) {
    .recepies {
        &__info {
            gap: 24px;
        }
    }
}

@media (min-width: $pv) {
    .recepies {
        &-search {
            flex-basis: 65%;
        }

        &__info {
            flex-basis: 50%;
        }
    }
}
