.recepies {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

@media (min-width: $tv) {
    .recepies {
        &__info {
            gap: 24px;
        }
    }
}

@media (min-width: $pv) {
    .recepies {

        &__info {
            flex-basis: 50%;
        }
    }
}
