.table {
    border-collapse: collapse;
    table-layout: fixed;
}

.table caption {
    text-align: left;
}

.table tr {
    border-bottom: 1px solid var(--text);
}

.table_feck tr {
    border-bottom: none;
}

.table tr > td {
    padding: 10px 0;
}

.table_feck tr > td {
    padding: 5px 0;
}

.table tr > td:nth-child(2n) {
    text-align: right;
}

@media (min-width: $tv) {
    .table {
        font-size: 125%;
        grid-column: 1/4;
        grid-row: 3/4;

        &_feck {
            flex-basis: 30%;
        }
    }
}
