.tags {
	&__item {
		display: inline-block;
		font-size: 75%;
		line-height: 1.3;
		padding: 12px 8px;
		border-radius: 25px;
		&_main {	
			background-color: var(--main);
		}
		&_sea {
			background-color: var(--sea);
		}
		&_no-meat {
			background-color: var(--no-meat);
		}
		&_status {
			border: 1px solid var(--green);
		}
		&_articles {
			border: 1px solid var(--brown);
		}
	}
}