.tags {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	flex-wrap: wrap;
	&__item {
		display: inline-block;
		font-size: 80%;
		line-height: 1.3;
		padding: 12px 8px;
		border-radius: 25px;
		background-color: var(--main);
		margin-bottom: 10px;
		&_status {
			border: 1px solid var(--green);
		}
		&_articles {
			border: 1px solid var(--brown);
		}
	}
}