.text {
    &_promo {
        width: 290px;
        font-size: 87.5%;
        text-align: center;
    }
    &_inst {
        width: 80%;
        font-size: 87.5%;
        text-align: center;
    }
}

@media (min-width: 744px) {
    .text {
        &_promo {
            width: 357px;
            font-size: 100%;
        }
        &_inst {
            font-size: 125%;
        }
    }
}

@media (min-width: 1728px) {
    .text {
        &_promo {
            width: 508px;
            font-size: 125%;
            text-align: left;
        }
    }
}
