.title {
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;

    &_h2 {
        font-size: 125%;
        position: relative;
        margin-bottom: 40px;

        &--one,
        &--two {
            display: block;
            width: 240px;
        }
        &--two {
            margin-left: 0;
        }
    }

    &_h3 {
        font-size: 87.5%;
    }
}

@media (min-width: 768px) {
    .title {
        &_h1 {
            font-size: 300%;
        }
    }
}

@media (min-width: 1440px) {
    .title {
        &_h1 {
            width: 850px;
            font-size: 350%;
            text-align: left;
        }
    }
}
