.us {
	display: flex;
	flex-direction: column;
	gap: 20px;
	&__picture {
		width: 100%;
	}
}

@media (min-width: $pv) {
	.us {
		&__picture {
			width: 391px;
			float: left;
			margin-right: 32px;
		}
	}
}