* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Colors */
:root {
    --text: rgb(44,44,44);
    --black: #000;
    --main: rgba(115,159,61,0.5);
    --sea: rgb(249,200,168);
    --no-meat: rgb(245,178,159);
    --green: rgba(177,226,117,1);
    --brown: rgba(238,105,63,1);
    --us-text-white: rgba(252,253,254,1);
}
