* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    object-fit: cover;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Colors */
:root {
    --text: #2c2c2c;
    --black: #000;
}
